/* Reset CSS */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('./img/Large-Triangles.svg');
    background-position:center;
    font-family: 'Work Sans';
}
.section{
    background-color: white;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 8px #95979d;
    text-align: center;
}

/* Intro Page */
a.btn.btn-submit {
    display: inline-block;
    background-color: skyblue;
    padding: 15px 40px;
    color: black;
    border-radius: 2px;
    text-decoration: none;
}
a.btn.btn-back {
    cursor: pointer;
}

/* Fade in Animation */
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}